* {
    display: border-box;
    margin: 0;
    padding: 0;
}
html { font-size: 62.5%; } 
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 2.4rem; } /* =24px */
/* 
##e9dbd0 - light-beige
#E5CCB8 - beige (button)
#FCFBFA - off-white
#4f4b8f - purple

#B8AAA7 - brown
#F0BBE3 - pink
#7E6A80 - gray (font)
#3B2F4A - dark-purple
#EAA451 - orange
*/
body {
    background-color: #e9dbd0;
    height: 100vh;
    width: 100vw;
    display: flex;
}
#app-container {
    margin: auto;
    background-color: #FCFBFA;
    width: 80%;
    min-height: 65rem;
    height: 70%;
    border-radius: 1.8rem;
}
#top-bar {
    display: flex;
    align-items: center;
    margin: 4rem;
    margin-left: 7rem;
    margin-right: 7rem;
}
#logo {
    flex: 1;
}
#logo-text {
    font-size: 1.8rem;
}
#search-box {
    display: flex;
    background-color: #eeeeee;
    flex: 2.5;
    padding: 0.5rem;
    border-radius: 0.4rem;
}
#site-search {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    
}
#search-button {
    margin-right: 1rem;
    border: none;
    background: none;
}
#top-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
#book-interface {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 0.5rem;
    margin-top: 5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    height: 25%;
    background-color: #e9dbd0;
    justify-content: center;
}
#book-interface h2 {
    font-size: 2.5rem;
}
#book-interface h3 {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: gray;
}
#hero-view-all {
    margin-top: 1.5rem;
    background: #ac9583;
    color: white;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border:none;
    width: 7.75rem;
}
h2 {
    color: #4f4b8f;
}
#current-shelf {
    display: flex;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}
#current-shelf h3 {
    margin-right: 2rem;
    color: gray;
}
#current-shelf button {
    font-size: 1.2rem;
    margin-left: auto;
    border: none;
    background: none;
    color: gray;
}
#books-container {
    display: flex;
    border: 1px gray solid;
    margin-left: 7rem;
    margin-right: 7rem;
    height: 27.5%;
}