* {
    display: border-box;
    margin: 0;
    padding: 0;
}
body {background-color: rgb(240, 221, 196);}
h1 {
    width: 10rem;
    display: flex;
    margin: auto;
    margin-top: 8rem;
    justify-content: center;
    align-items: center;
}
#logo-image {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    display: flex;
    margin: auto;
    margin-top: 1rem;
}
#search-box {
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#site-search {
    border:solid white;
    font-size: 0.9rem;
    padding: 0.1rem;
    width: 25rem;
}
#question {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
span {
    color:rgb(71, 68, 231);
}
#answer-buttons {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    visibility: hidden;
}
#book-interface {
    margin: auto;
    width: 30rem;
    display: flex;
    visibility: hidden;
}
#book-interface h2 {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
#options {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
#cover-image-container {
    display: flex;
    margin-right: 1.5rem;
}
.book-tables {
    padding: 3rem;
    display: flex;
    justify-content: center;
}
.book-table {
    flex:1;
    border: 1px solid;
    display:flex;
    flex-direction: column;
    margin: 2rem;
    margin-top: 0;
}
button {
    font-size: 1rem;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
th, td {
    padding: 0.25rem;
}
td {
    text-align: center;
}
h3 {
    display: flex-box;
    margin: auto;
}
#finished {
    display: flex;

}